<div class="signature">
    <p>
        L’organisme de formation<br/>
        Le <span class="dynamic-data">{{ pageData.signatureDate }}</span><br/>
        <span class="dynamic-data">{{ pageData.of['representative'] | fullName }}, {{ pageData.of['representative']['status'] }}</span>
    </p>
    <img src="assets/images/signature.png"/>
</div>
