<div class="signature">
    <p>
        L’organisme de formation<br/>
        Le <span class="dynamic-data">{{ signatureDate }}</span><br/>
        <span class="dynamic-data">{{ ofUserName }}</span>
    </p>

    <p>
        Cachet Signature
    </p>
</div>
